<div class="container">
  <table class="table">
    <thead>
      <th>Name</th>
    </thead>
    <tbody>
      <% for (let i = 0; i < data.length; i++) {%>

      <tr>
        <td> <%= data[i].name %> </td>
      </tr>

      <%} %>
      <!-- <tr>
        <td>Halla Kora</td>
      </tr> -->
    </tbody>
  </table>
</div>