<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="css/speakerStyle.css">
</head>

<body>

    <section class="form-speaker">
        <div class="container py-5">
            <div class="row d-flex justify-content-center align-items-center  ">
                <div class="col ">
                    <div class="card card-registration my-4 card-form ">
                        <div class="row g-0">
                            <div class="col-xl-6 d-none d-xl-block">
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                    alt="Sample photo" class="img-fluid"
                                    style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                            </div>
                            <div class="col-xl-6">
                                <div class="card-body p-md-5 text-black">
                                    <h3 class="colorText text-uppercase text-center">Speaker registration form</h3>
                                    <div class='form-outline d-flex justify-content-center align-items-center mb-4 '
                                        style="width: 100%; height: 150px;">
                                        <label>
                                            <img class='image-fluid rounded-circle  border  '
                                                src="https://th.bing.com/th/id/R.3265bf2fc4eef657f7e07c6cc208f698?rik=xHYudfX59TQeBw&riu=http%3a%2f%2fucanr.edu%2fsb3%2fdisplay_2018%2fimages%2fdefault-user.png&ehk=lR79jc%2bgKqbB9NYy%2b6MMZFsY5PhVpMBFGqbtyZ1CZVg%3d&risl=&pid=ImgRaw&r=0"
                                                alt="BigCo Inc. logo" />
                                            <input type="file" class='input__image' />
                                        </label>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label colorText" for="form3Example1m">First
                                                    name</label>
                                                <input type="text" id="form3Example1m"
                                                    class="form-control form-control-lg" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 mb-4">
                                            <div class="form-outline">
                                                <label class="form-label colorText" for="form3Example1n">Last
                                                    name</label>
                                                <input type="text" id="form3Example1n"
                                                    class="form-control form-control-lg" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label colorText" for="form3Example8">Phone</label>
                                        <input type="t" id="form3Example8" class="form-control form-control-lg" />
                                    </div>
                                    <P class="colorText">Address</P>
                                    <div class="row">
                                        <div class="col-md-6 mb-4">

                                            <select class="form-select colorText">
                                                <option value="">country</option>
                                                <option value="1">Egypt</option>
                                                <option value="2">America </option>
                                                <option value="3">France </option>
                                            </select>

                                        </div>
                                        <div class="col-md-6 mb-4">

                                            <select class="form-select colorText">
                                                <option value="">City</option>
                                                <option value="1">Cairo</option>
                                                <option value="2">Aswan </option>
                                                <option value="5">Qena</option>
                                            </select>

                                        </div>
                                    </div>

                                    <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">

                                        <h6 class="mb-0 me-4 colorText">Gender: </h6>

                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <label class="form-check-label colorText" for="femaleGender">Female</label>
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="femaleGender" value="option1" />
                                        </div>

                                        <div class="form-check form-check-inline mb-0 me-4">
                                            <label class="form-check-label colorText" for="maleGender">Male</label>
                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"
                                                id="maleGender" value="option2" />
                                        </div>

                                        <div class="form-check form-check-inline mb-0">
                                            <label class="form-check-label colorText" for="otherGender">Other</label>
                                            <input class="form-check-input " type="radio" name="inlineRadioOptions"
                                                id="otherGender" value="option3" />
                                        </div>

                                    </div>

                                    <div class="form-outline mb-4">
                                        <label class="form-label colorText" for="form3Example97">Email </label>
                                        <input type="email" id="form3Example97" class="form-control form-control-lg" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label colorText" for="form3Example9">Facebook </label>
                                        <input type="text" id="form3Example9" class="form-control form-control-lg" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label colorText" for="form3Example98">Twitter</label>
                                        <input type="text" id="form3Example98" class="form-control form-control-lg" />
                                    </div>
                                    <div class="form-outline mb-4">
                                        <label class="form-label colorText" for="form3Example99">Linkedin </label>
                                        <input type="text" id="form3Example99" class="form-control form-control-lg" />
                                    </div>

                                    <div class="d-flex justify-content-end pt-3">
                                        <input type="button" class="btn btnReset btn-lg " value="Reset all">
                                        <input type="submit" class="btn btnSubmit ms-4 " value="Submit form">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>